body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
  }
  h1, h2, h3 {
    margin-top: 40px; 
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
  }
  .container {
    padding: 20px;
  }
  .navigation {
    margin: 20px 0;
  }
  .navigation a {
    margin-right: 10px;
    padding: 10px 15px;
    display: inline-block;
    background-color: #19c2e0; /*Ponemos color para dar contraste */
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .navigation a:hover {
    background-color: #26e4b4; /*Ponemos  color al pasar por el cursor*/
  }
  table {
    width: 100%; /*Ajustamos la tabla automaticamente*/
    border-collapse: collapse; /*Añadimos borde para mejor claridad*/
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;/*Ponemos un fondo blanco para mayor visibilidad y claridad*/
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  tr:hover {
    background-color: #e2e2e2; 
  }