body {
  background-color: #f0f0f0;
  color: #333333; 
  font-family: Arial, sans-serif; /*Cambiamos el estilo de la fuente para mas claridad*/
  font-size: 16px; /* Aumentar el tamaño de fuente general */
  max-width: 800px; /* Ampliar el ancho máximo */
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px; /*Tamaño de las letras mas grande para mejor lectura*/
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
}

.content-box {
  background-color: #1191cc; /* Cambiar color para mejor contraste */
  color: #000000; /* Cambiar color de texto para mejor lectura */
  padding: 10px;
  margin: 20px 0;
}

.small-text {
  font-size: 14px; /*Aumentamos un poco mas el tamaño*/
}

a {
  color: #0000ff;
  text-decoration: underline; /* Añadimos el  subrayado para que sea mejor visible */
}

a:hover {
  text-decoration: none; 
}
